<div class="container">
  <div class = "row col-md-12 my-5 mx-0 px-0">

    <div class = "col-md-6 col-xl-5">
      <div class="col-md-12 border rounded-lg py-4 px-2 my-1">
        <div class="text-center py-4">
          <h3>フォルダ追加</h3>
        </div>
        <%= form_with model: @folder,url: folders_path,method: :post do |f| %>
          <div class="row col-md-12 mx-0">
            <div class="col-5 pl-0"><%= f.label :name,"フォルダ名" %></div>
            <div class="col-7 px-0"><%= f.text_field :name, class: "col-12 px-1" %></div>
          </div>

          <div class="row col-12 justify-content-center mx-0">
            <%= f.submit "新規登録", class: "btn btn-block mybtn btn-primary text-white tx-tfm rounded-pill mt-4" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class = "col-md-6 col-xl-7">
      <div class = "col-md-12 border border-dark px-0 my-1">
        <div class="col-md-12 bg-secondary text-white text-center py-2">
          フォルダ
        </div>
        <div class="row mx-0 px-0">
        <% @folders.each do |folder| %>
          <div class="row col-md-12 mx-0 py-2 border-bottom align-items-center">
            <%= link_to folder_path(folder.id), class: "col-6 col-lg-8 px-0 text-dark" do %>
            <div class="col-12 text-short">
              <i class="fa-regular fa-folder-closed mr-1"></i><%= folder.name %>
            </div>
            <% end %>
            <div class="ml-auto">
              <%= link_to edit_folder_path(folder.id), class: "btn btn-sm btn-outline-success rounded-pill" do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>

              <%= link_to folder_path(folder.id), method: :delete, class: "btn btn-sm btn-outline-danger rounded-pill destroy_book_#{folder.id}" do %>
                <i class="fa-regular fa-trash-can"></i>
              <% end %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
