<div class="container h-100">
  <div class="col-12 bg-BL border text-white mt-3 px-0">
    <div class="row col-md-8 justify-content-between h1 mx-auto my-0 py-3 px-0">
      <div>＜フォルダ一覧＞</div>
      <div class="btn-group pr-1" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-sm border border-white rounded-circle text-white my-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="py-auto"><i class="fa-solid fa-plus h6 my-auto"></i></div>
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item new-form-trigger text-decoration-none" href="#">
          <i class="fa-solid fa-folder-open mr-1"></i><span>新規フォルダ</span>
          </a>
          <%= link_to new_memo_path,class: "dropdown-item text-decoration-none" do %>
            <i class="fa-solid fa-file-pen mr-1"></i></i><span>新規メモ</span>
          <% end %>
        </div>
      </div>
    </div>

  </div>
  <div class="row h-100 mx-auto">
    <div class="col-2 border border-top-0 px-0"></div>
    <div class="col-8 border-bottom px-0">
      <% @folders.each do |folder| %>
        <div class="row col-md-12 border-bottom align-items-center mx-0">
          <%= link_to folder_path(folder.id), data: {"turbolinks" => false}, class: "folders_link text-decoration-none flex-grow-1 py-2" do %>
            <div class= "col text-white rounded current_link_icon">
              <i class="fa-regular fa-folder-closed mr-2"></i>[<%= folder.memos.count %>] <%= folder.name %>
            </div>
          <% end %>

          <%= link_to edit_folder_path(folder.id), class: "btn btn-sm btn-outline-success rounded-pill mr-1" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>

          <%= link_to folder_path(folder.id), method: :delete, class: "btn btn-sm btn-outline-danger rounded-pill destroy_book_#{folder.id}" do %>
            <i class="fa-regular fa-trash-can"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-2 border border-top-0 px-0"></div>
  </div>
</div>