<div class="container h-100">
  <div class="col-12 bg-BL border text-white mt-3 px-0">
    <div class="row col-md-8 justify-content-between h1 mx-auto my-0 py-3 px-0">
      ＜ <%= @folder.name %> ＞
      <div class="d-flex align-items-center">
        <%= link_to edit_folder_path(@folder.id), class: "btn btn-sm btn-outline-success rounded-pill mr-1" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>

        <%= link_to folder_path(@folder.id), method: :delete, class: "btn btn-sm btn-outline-danger rounded-pill destroy_book_#{@folder.id} mr-1" do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-sm border border-white rounded-circle text-white my-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="py-auto"><i class="fa-solid fa-plus h6 my-auto"></i></div>
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item new-form-trigger text-decoration-none" href="#">
            <i class="fa-solid fa-folder-open mr-1"></i><span>新規フォルダ</span>
            </a>
            <%= link_to new_memo_path,class: "dropdown-item text-decoration-none" do %>
              <i class="fa-solid fa-file-pen mr-1"></i></i><span>新規メモ</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row h-100 mx-auto">
    <div class="col-2 border border-top-0 px-0"></div>
    <div class="col-4 border-right border-bottom px-0">
      <% @folders.each do |folder| %>
        <%= link_to folder_path(folder.id), data: {"turbolinks" => false}, class: "folders_link text-decoration-none" do %>
          <div class= "col d-flex text-white current_link_icon rounded">
            <div><i class="fa-regular fa-folder-closed mr-2"></i></div>
            <div><%= folder.name %></div>
            <div class="ml-auto">[<%= folder.memos.count %>]</div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-4 border-bottom px-0">
      <% @memos.each do |memo| %>
        <%= link_to memo_path(memo.id), data: {"turbolinks" => false}, class: "text-decoration-none" do %>
          <div class= "col text-white text-short"><i class="fa-regular fa-file mr-2"></i><%= memo.title %></div>
        <% end %>
      <% end %>
    </div>
    <div class="col-2 border border-top-0 px-0"></div>
  </div>
</div>
