<div class="container h-100">
  <div class="col-12 bg-BL border text-white mt-3">
    <div class="row col-md-8 justify-content-between h1 mx-auto my-0 py-3">
      < <%= @folder.name %> >
      <div>
        <%= link_to edit_folder_path(@folder.id), class: "btn btn-sm btn-outline-success rounded-pill" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>

        <%= link_to folder_path(@folder.id), method: :delete, class: "btn btn-sm btn-outline-danger rounded-pill destroy_book_#{@folder.id}" do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
      </div>
      <i class="fa-solid fa-circle-plus"></i>
    </div>
  </div>
  <div class="row h-100 mx-auto">
    <div class="col-2 border border-top-0 px-0"></div>
    <div class="col-4 border-right border-bottom px-0">
      <% @folders.each do |folder| %>
        <%= link_to folder_path(folder.id), data: {"turbolinks" => false}, class: "folders_link text-decoration-none" do %>
          <div class= "col text-white current_link_icon rounded"><i class="fa-regular fa-folder-closed mr-2"></i><%= folder.name %></div>
        <% end %>
      <% end %>
    </div>
    <div class="col-4 border-bottom px-0">
      <% @memos.each do |memo| %>
        <%= link_to memo_path(memo.id), data: {"turbolinks" => false}, class: "text-decoration-none" do %>
          <div class= "col text-white text-short"><i class="fa-regular fa-file mr-2"></i><%= memo.title %></div>
        <% end %>
      <% end %>
    </div>
    <div class="col-2 border border-top-0 px-0"></div>
  </div>
</div>
