<div class="container">
  <h3 class=" text-wrap text-break text-white"><%= @memo.title %></h3>

  <div class="bg-dark text-white p-3">
    <span class="text-secondary text-wrap text-break">// <%= @memo.comment %></span>
    <span class="copy_text text-wrap text-break"><%= @memo.copy_text %></span>
    <lable class="btn p-0 m-0 copy-text-btn">
      <i class="fas fa-copy text-white ml-auto"></i>
    </label>
    <span id="js-copyalert" class="copy_alert">コピー完了！</span>
    <%= link_to edit_memo_path(@memo.id), class: "btn btn-sm btn-outline-success rounded-pill" do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>

    <%= link_to memo_path(@memo.id), method: :delete, class: "btn btn-sm btn-outline-danger rounded-pill destroy_book_#{@memo.id}" do %>
      <i class="fa-regular fa-trash-can"></i>
    <% end %>
  </div>
</div>